

.activityOverviews {
   
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 30rem
}


.overview {
    /* height: 318px; */
    /* width:  */
    padding: 5rem;;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 10px 13px 0px #E9ECEF;
    padding: 24px;
    

}