



.header {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4.75rem;
    width: 103.9375rem;
    padding: 1rem 2rem;
    background-color: white;
    backdrop-filter: blur(32px);
    
}