

.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1880px;
    overflow-x: hidden;
    background-color: #E9ECEF;
    /* background: var(--e9ecef-Bg-2, #E9ECEF); */
}