

.sidebar {
    width: 15%;
    min-width: 200px;
    height: 100%;
    flex-shrink: 0;
    background: var(--FFFFFF-Bg-1, #FFF);
    box-shadow: 0px 10px 30px 0px rgba(17, 38, 146, 0.05);
}

.navigationBox {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    /* left: 50px; */
    width: 100%;
    padding: 8px 24px 8px 40px;
    gap: 10px;

}

.link:hover {

    box-shadow: 0px 2px 4px 0px rgba(138, 146, 166, 0.30);
    background-color: #3A57E8;
    color: white;

}

.home { 
    color: rgb(156, 155, 155);
    font-weight: 600;
    line-height: 175%;
    align-self: flex-start;
    margin: 10px 40px;
}






.linkText {

    /* font-family: Inter; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    color: #8A9286;
    
}


.link:hover .linkText {
    color: white;
}
