


.smallCharts {
    display: flex;
    flex-direction: row;
    row-gap: 40px;
    column-gap: 40px;

}

.leftChart {
    padding: 32px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 10px 13px 0px #e9ecef;
}

.rightChart {
    padding: 24px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 10px 13px 0px #e9ecef;
}


